@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.containerLanding{
    padding-bottom: 50px;
}
.navBar{
    background-color: #58b4ae !important;
    color: white !important;
}
.navLink{
    padding: 15px !important;
    color: white !important;
    line-height: 30px;
}
.navLink:hover{
    display: block !important;
    background-color: #6ee0d9 !important;
}
.navbarBrand{
    color: white !important;
}
.navbarToggle{
    border-color: white !important;
}
.navbar-toggler-icon{
    color: white !important ;
}
.colLandingQuotes{
    margin-top: 150px;
}
.colLandingQuotes h1{
    font-size: 80px;
}
.meImg{
    width: 500px;
    margin-top: 100px;
    border-radius: 30px 1px 30px 1px;;
}
.aboutContainer{
    margin:0;
    padding: 25px;
    background-color: #58b4ae;
    color: white;
}
.aboutContainer p{
    font-weight: lighter;
}
.whatText{
    font-size: 50px;
    color: #58b4ae;
    font-weight: lighter;
}

.whatSubText h2{
    font-weight: 350;
}
.codeIcon{
    font-size: 100px;
    color: #58b4ae !important;
}
.codeJs{
    font-size: 150px;
    padding-top: 30px;
    color:#F0D933 !important;
}
.codePhp{
    font-size: 150px;
    padding-top: 30px;
    color:#7478AE !important;
}
.codeSharp{
    font-size: 150px;
    padding-top: 30px;
}
.jumbotronCode{
    background-color: #58b4ae !important;
    margin-bottom: 0px !important;
}
.jumbotronCode p{
    color: white ;
}
.jumbotronCode h1{
    color: white;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:hover{
    color:white !important;
}
.colWorkCard{
    padding: 10px !important;
}
.buttonBt{
    background-color:#58b4ae !important ;
    border-color: #58b4ae !important;
}
.underlineMain {
    width: 160px;
    border-bottom:2px solid  #58b4ae;
  }
  .jumbotronFooter{
      margin-bottom: 0px !important;
      background-color: #58b4ae !important;
  }
.footer-copyright{
    color: white;
    font-size: 20px;
}
.footer-copyright a{
    color: white !important;
}
.contactSec{
    color: white;
}
.contactIcon{
    font-size: 50px;
    padding: 10px;
}
.contactIcon2{
    font-size: 30px;
    padding: 10px;
}
.iconCont{
    padding: 10px;
}
@media all and (max-width: 457px){
    .contactIcon2{
        font-size: 25px;
    }
    .contactIcon{
        font-size: 35px;
    }
}
/* @media all and (max-width: 768px) {
    .mainCard{
        width: 400px !important;
        margin-left: 33px;
    }
    .meImg{
        width: 400px;
    }
    .codePhp:before{
        margin-left: -20px !important;
    }
    .contactSec{
        font-size: 10px !important;
    }
} */