@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.containerLanding{
    padding-bottom: 50px;
}
.navBar{
    background-image:linear-gradient(to right, #014871, #d7ede2) !important;
    color: black !important;
}
.navLink{
    padding: 15px !important;
    color: #014871 !important;
    line-height: 30px;
}
.navLink:hover{
    display: block !important;
    background-color: #1a4d6b !important;
}
.navbarBrand{
    color: white !important;
    letter-spacing: 5px;
}
.navbarToggle{
    border-color: white !important;
}
.navbar-toggler-icon{
    color: white !important ;
}
.colLandingQuotes{
    margin-top: 150px;
    color:#1a4d6b;
}
.colLandingQuotes h1{
    font-size: 80px;
}
.meImg{
    width: 100%;
    height: auto;
    margin-top: 100px;
    border-radius: 30px 1px 30px 1px;;
}
.buttonProject{
    border-color:#014871 !important;
    background-color:white !important;
}
.buttonProject:hover{
    background-color:#014871 !important;
}
.aboutContainer{
    margin:0;
    padding: 25px;
    background-color: #1a4d6b;
    color: white;
}
.aboutContainer p{
    font-weight: lighter;
}
.whatText{
    font-size: 50px;
    color: #1a4d6b;
    font-weight: lighter;
}

.whatSubText h2{
    font-weight: 350;
}
.codeIcon{
    font-size: 100px;
    color: #1a4d6b !important;
}
.codeJs{
    font-size: 150px;
    padding-top: 30px;
    color:#F0D933 !important;
}
.codePhp{
    font-size: 150px;
    padding-top: 30px;
    color:#7478AE !important;
}
.codeSharp{
    font-size: 150px;
    padding-top: 30px;
}
.jumbotronCode{
    background-color: #1a4d6b !important;
    margin-bottom: 0px !important;
}
.jumbotronCode p{
    color: white ;
}
.jumbotronCode h1{
    color: white;
}
a{
    text-decoration: none !important;
    color: black !important;
}
a:hover{
    color:white !important;
}
.colWorkCard{
    padding: 10px !important;
}
.buttonBt{
    background-color:#1a4d6b !important ;
    border-color: #1a4d6b !important;
}
.underlineMain {
    width: 160px;
    border-bottom:2px solid  #1a4d6b;
  }
  .jumbotronFooter{
      margin-bottom: 0px !important;
      background-color: #1a4d6b !important;
  }
.footer-copyright{
    color: white;
    font-size: 20px;
}
.footer-copyright a{
    color: white !important;
}
.contactSec{
    color: white;
}
.contactIcon{
    font-size: 50px;
    padding: 10px;
    color:#d7ede2 !important;
}
.contactIcon2{
    font-size: 30px;
    padding: 10px;
    color:#d7ede2 !important;
}
.iconCont{
    padding: 10px;
}
@media all and (max-width: 457px){
    .contactIcon2{
        font-size: 25px;
    }
    .contactIcon{
        font-size: 35px;
    }
}
@media all and (max-width:490px){
    .whatSubText h2{
        font-size: 20px;
    }
}
@media all and (max-width:991px){
    .navLink{
        color: white !important;
    }
    .navLink:hover{
        background-color: transparent !important;
    }
}
/* @media all and (max-width: 768px) {
    .mainCard{
        width: 400px !important;
        margin-left: 33px;
    }
    .meImg{
        width: 400px;
    }
    .codePhp:before{
        margin-left: -20px !important;
    }
    .contactSec{
        font-size: 10px !important;
    }
} */
/* @media all and (max-width:991px){
    .meImg{
        width: 450px;
        height: 300px;
    }
}
@media all and (max-width:890px){
    .meImg{
        width: 400px;
        height: 250px;
    }
    .colImage{
        margin-top: 50px;
    }
} */